.section
  h3.text-center Observe accounts
  div
    div Add observed address
    div(ng-repeat="(address, entry) in observed")
      span(rmw-pretty-identity="address")
      span Notifications {{ entry.notifications }}
